.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: ;
}

.section1,
.section2 {
  font-family: "Quicksand", sans-serif;
  color: #fbfbfb;
  background-color: #7b9e8b;
}
#aave {
  width: 250px;
  height: 200px;
}

#cardano {
  width: 250px;
  height: 150px;
}

#polkadot {
  width: 250px;
  height: 150px;
}

.aave,
.polkadot,
.cardano {
}
